fastapi
uvicorn[standard]
python-multipart

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq

faiss-cpu
fastembed==0.2.7
pypdf

firebase-admin
redis

python-dotenv
httpx
tqdm
numpy