.displayDiv{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size :x-large;
    margin-right: 10px;
}

@media (max-width: 768px){
    .displayDiv{
        font-size: medium;
    }
}