.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.mainDivDialogue {
  width: 350px;
  height: 150px;
  background-color: white;
  color: black;
  z-index: 9999;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerDiv {
  font-size: 18px;
  font-weight: 600;
}

.mainMessageDiv {
  margin-top: 5px;
  font-size: large;
}

.okButton {
  margin-left: 80%;
  width: 15%;
  height: 25px;
  background-color: #10a37f;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  border: none;
}
.okButton:hover {
  background-color: rgb(7, 128, 41);
}

@media (max-width: 768px) {
  .okButton {
    width: 15%;
    height: 25px;
    color: black;
    font-size: medium;
  }
  .mainMessageDiv {
    margin-top: 5px;
    font-size: medium;
  }
  .mainDivDialogue{
    height: 200px;
  }
}
